body {
	/* transition: background-color 2s ease-in-out; */
	color: #eee;
	font-family: "Fjalla One", sans-serif;
}

#warped {
	position: relative;
	display: block;
	width: 996px;
	/* height: 619px; */
	height: 500px;
	left: 15%
}

#warped>span[class^=w]:nth-of-type(n+0) {
	display: block;
	position: absolute;
	-moz-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

#warped span {
	font-family: "Fjalla One", sans-serif;
	font-size: 76px;
	font-weight: regular;
	font-style: normal;
	line-height: 1;
	white-space: pre;
	overflow: visible;
	padding: 0px;
}

#warped .w0 {
	-moz-transform: rotate(-0.89rad) skewX(-0.89rad) scaleY(0.63);
	-webkit-transform:
		rotate(-0.89rad) skewX(-0.89rad) scaleY(0.63);
	-o-transform: rotate(-0.89rad) skewX(-0.89rad) scaleY(0.63);
	-ms-transform: rotate(-0.89rad) skewX(-0.89rad) scaleY(0.63);
	transform: rotate(-0.89rad) skewX(-0.89rad) scaleY(0.63);
	width: 55px;
	height: 76px;
	left: 113.21px;
	top: 205.67px;
}

#warped .w1 {
	-moz-transform: rotate(-0.78rad) skewX(-0.78rad) scaleY(0.71);
	-webkit-transform:
		rotate(-0.78rad) skewX(-0.78rad) scaleY(0.71);
	-o-transform: rotate(-0.78rad) skewX(-0.78rad) scaleY(0.71);
	-ms-transform: rotate(-0.78rad) skewX(-0.78rad) scaleY(0.71);
	transform: rotate(-0.78rad) skewX(-0.78rad) scaleY(0.71);
	width: 38px;
	height: 76px;
	left: 148.52px;
	top: 165.52px;
}

#warped .w2 {
	-moz-transform: rotate(-0.69rad) skewX(-0.69rad) scaleY(0.77);
	-webkit-transform:
		rotate(-0.69rad) skewX(-0.69rad) scaleY(0.77);
	-o-transform: rotate(-0.69rad) skewX(-0.69rad) scaleY(0.77);
	-ms-transform: rotate(-0.69rad) skewX(-0.69rad) scaleY(0.77);
	transform: rotate(-0.69rad) skewX(-0.69rad) scaleY(0.77);
	width: 21px;
	height: 76px;
	left: 184.95px;
	top: 140.52px;
}

#warped .w3 {
	-moz-transform: rotate(-0.63rad) skewX(-0.63rad) scaleY(0.8);
	-webkit-transform:
		rotate(-0.63rad) skewX(-0.63rad) scaleY(0.8);
	-o-transform: rotate(-0.63rad) skewX(-0.63rad) scaleY(0.8);
	-ms-transform: rotate(-0.63rad) skewX(-0.63rad) scaleY(0.8);
	transform: rotate(-0.63rad) skewX(-0.63rad) scaleY(0.8);
	width:
		21px;
	height: 76px;
	left: 207.88px;
	top: 122.78px;
}

#warped .w4 {
	-moz-transform: rotate(-0.57rad) skewX(-0.57rad) scaleY(0.84);
	-webkit-transform:
		rotate(-0.57rad) skewX(-0.57rad) scaleY(0.84);
	-o-transform: rotate(-0.57rad) skewX(-0.57rad) scaleY(0.84);
	-ms-transform: rotate(-0.57rad) skewX(-0.57rad) scaleY(0.84);
	transform: rotate(-0.57rad) skewX(-0.57rad) scaleY(0.84);
	width: 21px;
	height: 76px;
	left: 231.87px;
	top: 106.49px;
}

#warped .w5 {
	-moz-transform: rotate(-0.49rad) skewX(-0.49rad) scaleY(0.88);
	-webkit-transform:
		rotate(-0.49rad) skewX(-0.49rad) scaleY(0.88);
	-o-transform: rotate(-0.49rad) skewX(-0.49rad) scaleY(0.88);
	-ms-transform: rotate(-0.49rad) skewX(-0.49rad) scaleY(0.88);
	transform: rotate(-0.49rad) skewX(-0.49rad) scaleY(0.88);
	width: 34px;
	height: 76px;
	left: 256.05px;
	top: 88.63px;
}

#warped .w6 {
	-moz-transform: rotate(-0.4rad) skewX(-0.4rad) scaleY(0.92);
	-webkit-transform:
		rotate(-0.4rad) skewX(-0.4rad) scaleY(0.92);
	-o-transform: rotate(-0.4rad) skewX(-0.4rad) scaleY(0.92);
	-ms-transform: rotate(-0.4rad) skewX(-0.4rad) scaleY(0.92);
	transform: rotate(-0.4rad) skewX(-0.4rad) scaleY(0.92);
	width:
		38px;
	height: 76px;
	left: 293.8px;
	top: 69.82px;
}

#warped .w7 {
	-moz-transform: rotate(-0.28rad) skewX(-0.28rad) scaleY(0.96);
	-webkit-transform:
		rotate(-0.28rad) skewX(-0.28rad) scaleY(0.96);
	-o-transform: rotate(-0.28rad) skewX(-0.28rad) scaleY(0.96);
	-ms-transform: rotate(-0.28rad) skewX(-0.28rad) scaleY(0.96);
	transform: rotate(-0.28rad) skewX(-0.28rad) scaleY(0.96);
	width: 59px;
	height: 76px;
	left: 336.65px;
	top: 51.31px;
}

#warped .w8 {
	-moz-transform: rotate(-0.16rad) skewX(-0.16rad) scaleY(0.98);
	-webkit-transform:
		rotate(-0.16rad) skewX(-0.16rad) scaleY(0.98);
	-o-transform: rotate(-0.16rad) skewX(-0.16rad) scaleY(0.98);
	-ms-transform: rotate(-0.16rad) skewX(-0.16rad) scaleY(0.98);
	transform: rotate(-0.16rad) skewX(-0.16rad) scaleY(0.98);
	width: 34px;
	height: 76px;
	left: 402.36px;
	top: 39.69px;
}

#warped .w9 {
	-moz-transform: rotate(-0.09rad) skewX(-0.09rad) scaleY(0.99);
	-webkit-transform:
		rotate(-0.09rad) skewX(-0.09rad) scaleY(0.99);
	-o-transform: rotate(-0.09rad) skewX(-0.09rad) scaleY(0.99);
	-ms-transform: rotate(-0.09rad) skewX(-0.09rad) scaleY(0.99);
	transform: rotate(-0.09rad) skewX(-0.09rad) scaleY(0.99);
	width: 19px;
	height: 76px;
	left: 444.11px;
	top: 35.58px;
}

#warped .w10 {
	-moz-transform: rotate(0.01rad) skewX(0.01rad) scaleY(0.99);
	-webkit-transform:
		rotate(0.01rad) skewX(0.01rad) scaleY(0.99);
	-o-transform: rotate(0.01rad) skewX(0.01rad) scaleY(0.99);
	-ms-transform: rotate(0.01rad) skewX(0.01rad) scaleY(0.99);
	transform: rotate(0.01rad) skewX(0.01rad) scaleY(0.99);
	width:
		55px;
	height: 76px;
	left: 485.07px;
	top: 34.04px;
}

#warped .w11 {
	-moz-transform: rotate(0.12rad) skewX(0.12rad) scaleY(0.99);
	-webkit-transform:
		rotate(0.12rad) skewX(0.12rad) scaleY(0.99);
	-o-transform: rotate(0.12rad) skewX(0.12rad) scaleY(0.99);
	-ms-transform: rotate(0.12rad) skewX(0.12rad) scaleY(0.99);
	transform: rotate(0.12rad) skewX(0.12rad) scaleY(0.99);
	width:
		34px;
	height: 76px;
	left: 533.91px;
	top: 37.73px;
}

#warped .w12 {
	-moz-transform: rotate(0.22rad) skewX(0.22rad) scaleY(0.97);
	-webkit-transform:
		rotate(0.22rad) skewX(0.22rad) scaleY(0.97);
	-o-transform: rotate(0.22rad) skewX(0.22rad) scaleY(0.97);
	-ms-transform: rotate(0.22rad) skewX(0.22rad) scaleY(0.97);
	transform: rotate(0.22rad) skewX(0.22rad) scaleY(0.97);
	width:
		38px;
	height: 76px;
	left: 575.23px;
	top: 45.35px;
}

#warped .w13 {
	-moz-transform: rotate(0.3rad) skewX(0.3rad) scaleY(0.95);
	-webkit-transform:
		rotate(0.3rad) skewX(0.3rad) scaleY(0.95);
	-o-transform: rotate(0.3rad) skewX(0.3rad) scaleY(0.95);
	-ms-transform: rotate(0.3rad) skewX(0.3rad) scaleY(0.95);
	transform: rotate(0.3rad) skewX(0.3rad) scaleY(0.95);
	width:
		21px;
	height: 76px;
	left: 623.94px;
	top: 55.04px;
}

#warped .w14 {
	-moz-transform: rotate(0.37rad) skewX(0.37rad) scaleY(0.92);
	-webkit-transform:
		rotate(0.37rad) skewX(0.37rad) scaleY(0.92);
	-o-transform: rotate(0.37rad) skewX(0.37rad) scaleY(0.92);
	-ms-transform: rotate(0.37rad) skewX(0.37rad) scaleY(0.92);
	transform: rotate(0.37rad) skewX(0.37rad) scaleY(0.92);
	width:
		34px;
	height: 76px;
	left: 646.91px;
	top: 66.86px;
}

#warped .w15 {
	-moz-transform: rotate(0.47rad) skewX(0.47rad) scaleY(0.89);
	-webkit-transform:
		rotate(0.47rad) skewX(0.47rad) scaleY(0.89);
	-o-transform: rotate(0.47rad) skewX(0.47rad) scaleY(0.89);
	-ms-transform: rotate(0.47rad) skewX(0.47rad) scaleY(0.89);
	transform: rotate(0.47rad) skewX(0.47rad) scaleY(0.89);
	width:
		38px;
	height: 76px;
	left: 689.98px;
	top: 86px;
}

#warped .w16 {
	-moz-transform: rotate(0.57rad) skewX(0.57rad) scaleY(0.84);
	-webkit-transform:
		rotate(0.57rad) skewX(0.57rad) scaleY(0.84);
	-o-transform: rotate(0.57rad) skewX(0.57rad) scaleY(0.84);
	-ms-transform: rotate(0.57rad) skewX(0.57rad) scaleY(0.84);
	transform: rotate(0.57rad) skewX(0.57rad) scaleY(0.84);
	width:
		38px;
	height: 76px;
	left: 724.84px;
	top: 107.91px;
}

#warped .w17 {
	-moz-transform: rotate(0.66rad) skewX(0.66rad) scaleY(0.78);
	-webkit-transform:
		rotate(0.66rad) skewX(0.66rad) scaleY(0.78);
	-o-transform: rotate(0.66rad) skewX(0.66rad) scaleY(0.78);
	-ms-transform: rotate(0.66rad) skewX(0.66rad) scaleY(0.78);
	transform: rotate(0.66rad) skewX(0.66rad) scaleY(0.78);
	width:
		30px;
	height: 76px;
	left: 763.11px;
	top: 132.17px;
}

#warped .w18 {
	-moz-transform: rotate(0.74rad) skewX(0.74rad) scaleY(0.73);
	-webkit-transform:
		rotate(0.74rad) skewX(0.74rad) scaleY(0.73);
	-o-transform: rotate(0.74rad) skewX(0.74rad) scaleY(0.73);
	-ms-transform: rotate(0.74rad) skewX(0.74rad) scaleY(0.73);
	transform: rotate(0.74rad) skewX(0.74rad) scaleY(0.73);
	width:
		34px;
	height: 76px;
	left: 791.59px;
	top: 158.06px;
}

#warped .w19 {
	-moz-transform: rotate(0.83rad) skewX(0.83rad) scaleY(0.66);
	-webkit-transform:
		rotate(0.83rad) skewX(0.83rad) scaleY(0.66);
	-o-transform: rotate(0.83rad) skewX(0.83rad) scaleY(0.66);
	-ms-transform: rotate(0.83rad) skewX(0.83rad) scaleY(0.66);
	transform: rotate(0.83rad) skewX(0.83rad) scaleY(0.66);
	width:
		34px;
	height: 76px;
	left: 823.08px;
	top: 187.94px;
}

#warped .w20 {
	-moz-transform: rotate(0.91rad) skewX(0.91rad) scaleY(0.61);
	-webkit-transform:
		rotate(0.91rad) skewX(0.91rad) scaleY(0.61);
	-o-transform: rotate(0.91rad) skewX(0.91rad) scaleY(0.61);
	-ms-transform: rotate(0.91rad) skewX(0.91rad) scaleY(0.61);
	transform: rotate(0.91rad) skewX(0.91rad) scaleY(0.61);
	width:
		21px;
	height: 76px;
	left: 855.33px;
	top: 220.18px;
}

#warped .w21 {
	-moz-transform: rotate(0.98rad) skewX(0.98rad) scaleY(0.54);
	-webkit-transform:
		rotate(0.98rad) skewX(0.98rad) scaleY(0.54);
	-o-transform: rotate(0.98rad) skewX(0.98rad) scaleY(0.54);
	-ms-transform: rotate(0.98rad) skewX(0.98rad) scaleY(0.54);
	transform: rotate(0.98rad) skewX(0.98rad) scaleY(0.54);
	width:
		34px;
	height: 76px;
	left: 864.44px;
	top: 244.08px;
}

#imgMe {
	position: absolute;
	left: 40%;
	top: 20%;
	width: 250px;
	border-radius: 50%;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
}

#presentation {
	width: 70%;
	margin: auto;
	font-size: 2em;
	text-align: center;
	font-size: 40px;
}

#guillaume {
	cursor: pointer;
}

#guillaume:hover + #imgMe {
	opacity: 1;
}

.content {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.card:nth-child(even) {
	flex-direction: row-reverse;
}

.reveal {
	opacity: 0;
	transform: translate(100px, 100px);
}

.reveal-visible {
	opacity: 1;
	transform: translate(0);
	transition: .5s cubic-bezier(0.5, 0, 0, 0.1);
}

.card {
	display: flex;
	justify-content: space-between;
	background-color: #eee;
	border-radius: 10px 10px 0 0;
	width: 80%;
	box-shadow: 10px 10px 10px black;
	padding: 20px;
	margin: auto;
	box-sizing: content-box;
	margin-bottom: 100px;
}

.linkCard {
	width: 40%;
	transform: rotate(4deg);
	transition: all .5s ease-in-out;
}

.imgCard {
	width: 100%;
	border-radius: 100px;
	transition: all .3s ease-in-out;
	box-shadow: 5px 5px 5px gray;
	/* transform: rotate(2deg);
	transition: all .5s ease-in-out; */
}

.paraCard {
	width: 60%;
	color : #333;
	font-size: 24px;
	margin-left: 20px;
	transform: rotate(-2deg);
	transition: all .3s ease-in-out;
}

.card:hover .linkCard {
	transform: rotate(0);
	animation: wow .5s ease-in-out 1;
}

.card:hover .paraCard {
	transform: rotate(0);
}

.card:hover .imgCard {
	border-radius: 25px;;
}

@keyframes wow {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}